@import "bootstrap.min.css";
@font-face {
    font-family: CustomFont;
    src: url("abeeZee-Regular.ttf");
}
body {
    font-family: CustomFont;
}
/*body{*/
/*    margin: 0;*/
/*    background-color: black;*/
/*        background-image: url('');*/
/*        background-size: cover;*/
/*        background-repeat: no-repeat;*/
/*        background-attachment: fixed;*/
/*        background-position: center;*/
/*}*/
.countdown {
    display: flex;
}

.time {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.time h3 {
    font-weight: bolder;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 5px;
}

.navBar {
    background-color: #1a2066;
}

main {
    background-image: url("bg_fara_blur.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
p {
    padding: 0;
    margin: 0;
}
