@import "bootstrap.min.css";
body{
    margin: 0;
}

.navBar {
    background-color: #1a2066;
}

main {
    background-image: url("bg_final.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
p {
    padding: 0;
    margin: 0;
}
