body{
    margin: 0;
}

navBackground {
    background: #1a2066;
}

main {
    background-image: url("bg_site.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}